<%- include('includes/head') %>
<body id="body">

  <header>
    <div class="row justify-content-between" id="nav-g">
        <div class="col-4">
            Dont'CRY
        </div>
        <div class="col-4 text-center" id="nav">
            @By.SiniDolce
      </div>

  </header>
  <form action="/" method="post" id="painel" class="row">
    <p>Dont'CRY Máfia</p>
    <p class="col-3 text-end">Login</p>
    <p class="col-2 text-start"> : </p>
      <input class="col-6" type="text" name="nome">
      <p class="col-3 text-end">Senha</p>
      <p class="col-2 text-start"> : </p>
      <input class="col-6" type="password" name="sobrenome">
    <button class="btGerar btn btn-secondary btn-sm">ACESSAR</button>
  </form>



  <script src="./assets/js/bundle.js"></script>
</body>

</html>